.app-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 5rem;
    margin-right: 1rem;
  }
  
  table {
    border-collapse: collapse;
    width: 90%;
  }
  
  th,
  td {
    border: 1px solid #ffffff;
    text-align: center;
    padding: 1px;
    font-size: 10px;
  }
  
  th {
    background-color: rgb(117, 201, 250);
  }
  
  td {
    background-color: rgb(205, 235, 253);
  }
  
  form {
    display: flex;
    gap: 5px;
  }
  
  form td:last-child {
    display: flex;
    justify-content: space-evenly;
  }
  
  form * {
    font-size: 15px;
  }
  